.profilefield_phone.phone-input-group .fitem:has([data-fieldtype=\"autocomplete\"]) {
    width: 80px;
}

.profilefield_phone.phone-input-group {
    display: flex;
    align-items: stretch;
    gap: 0;
    margin-bottom: 1rem;
}

.profilefield_phone.phone-input-group .country-select-autocomplete .form-autocomplete-selection {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}

.profilefield_phone.phone-input-group .form-autocomplete-input {
    max-width: 80px;
}

[dir="ltr"] .profilefield_phone.phone-input-group .form-autocomplete-input {
    /* stylelint-disable-next-line declaration-no-important */
    margin-right: -10px !important;
}
[dir="ltr"] .profilefield_phone.phone-input-group .country-select-autocomplete span[data-fieldtype="autocomplete"] {
    margin-right: 10px;
}
[dir="rtl"] .profilefield_phone.phone-input-group .form-autocomplete-input {
    margin-left: -10px;
}
[dir="rtl"] .profilefield_phone.phone-input-group .country-select-autocomplete span[data-fieldtype="autocomplete"] {
    margin-left: 10px;
}
[dir="ltr"] .profilefield_phone.phone-input-group .form-autocomplete-downarrow {
    right: 0;
}

[dir="rtl"] .profilefield_phone.phone-input-group .form-autocomplete-downarrow {
    left: 0;
}

.profilefield_phone.phone-input-group .form-autocomplete-input input,
.profilefield_phone.phone-input-group .country-select-autocomplete span[data-fieldtype="autocomplete"] {
    max-width: 80px;
    /* stylelint-disable-next-line declaration-no-important */
    min-width: 60px !important;
}
[dir="ltr"] .profilefield_phone.phone-input-group .form-autocomplete-input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    padding-right: 0;
}

[dir="rtl"] .profilefield_phone.phone-input-group .form-autocomplete-input input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding-left: 0;
    direction: ltr;
    text-align: right;
}

.profilefield_phone.phone-input-group .form-autocomplete-input input::placeholder {
    font-weight: bold;
    opacity: 1;
    color: inherit;
}

[dir="ltr"] .profilefield_phone.phone-input-group .phone-number-input {
    flex-grow: 1;
}

[dir="ltr"] .profilefield_phone.phone-input-group .phone-number-input input {
    max-width: calc(100% - 60px);
}

/* Width crashes for full-width-labels form. */
form.full-width-labels .profilefield_phone.phone-input-group .phone-number-input input {
    max-width: unset;
}

[dir="ltr"] .profilefield_phone.phone-input-group .phone-number-input input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[dir="rtl"]  .profilefield_phone.phone-input-group .phone-number-input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
}

@media screen and (min-width: 768px) {
    [dir="ltr"] .profilefield_phone.phone-input-group .phone-number-input input {
        margin-left: -1rem;
    }
}
